#octopus {
	margin: 100px;
	z-index: -1;
	position: fixed;

}
#glasses {
	position: absolute;
	top: 210px;
	left: 150px;
	z-index: 2;
}

#hat {
	position: absolute;
	top: 50px;
	left: 80px;
	z-index: 1;
}